{% extends 'base.html' %}


{% block header %}
<h2>{% block title %}Current Tasks{% endblock %}</h2>
{% if g.user %}
<a class="action" href="{{ url_for('tasks.new') }}">New Task</a>
{% endif %}
{% endblock %}

{% block content %}
{% for task in tasks %}
{% if not task['task_complete'] %}
<article class="task">
    <header>
        <div>
            <h3>{{ task['task_name'] }}</h3>
        </div>
    </header>
    <p class="description">{{ task['task_description'] }}</p>
    <div>
        <a class="action" href="{{ url_for('tasks.update', task_id=task['task_id']) }}">Edit</a>
    </div>
</article>
{% endif %}
{% endfor %}
{% endblock %}