{% extends 'base.html' %}


{% block header %}
<div class="current-tasks-and-button">
    <h2>{% block title %}Current Tasks{% endblock %}</h2>
    {% if g.user %}
    <form action="{{ url_for('tasks.new') }}">
        <input class="new-task-button" type="submit" value="New">
    </form>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% for task in tasks %}
{% if not task['task_complete'] %}
<article class="task">
    <header>
        <div class="task-header">
            <h3>{{ task['task_name'] }}</h3>
            <h4>{{ task['due_date'] }}</h4>
        </div>
    </header>
    <hr>
    <p class="description">{{ task['task_description'] }}</p>
    <div>
        <form action="{{ url_for('tasks.update', task_id=task['task_id']) }}">
            <input class="edit-button" type="submit" value="Edit">
        </form>
    </div>
</article>
{% endif %}
{% endfor %}
{% endblock %}